#gadgets_div h1 {
    /*border-bottom: 1px solid;*/
    padding-bottom: 5px;
    display: inline-block;
}

#gadgets_div {
    margin-top: 20px;
}

#gadgets_div table {
    margin: 0 auto;
    width: 90%;
}

#gadgets_div td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

#gadgets_div tr {
    border-bottom: 1px solid #7a8085;
}

#gadgets_div a {
    width: 20%;
    float: right;
    margin: 4px 5px 0 0;
}

#gadgets_div div {
    margin-bottom: 10px;
}